/** fonts **/
	@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Walter+Turncoat|Sacramento');

/** javascript style **/
#scroll-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #59E1C6;
    color: #FFFFFF;
    cursor: pointer;
    padding: 13px 10px;
    border-radius: 10px;
}

#scroll-button:hover {
    background-color: #22CAA8;
}

#scroll-button img {
	width: 25px;
}

/** css style **/
nav {
	display: block;
	background-color: #59E1C6;
	font-family: 'Open Sans Condensed';
	width: 100%;
	position: fixed;
	top: 0px;
	margin: 0;
}

nav ul {
	text-align: center;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0px;
}

nav li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 20px;
}

nav li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.5em;
}

nav li:hover {
	background-color: #22CAA8;
}

.active {
	background-color: #22CAA8;
}

.header {
	width: 100%;
	height: 350px;
	display: block;
	background-image: url('img/totoro1.jpg');
	background-size: 100%;
	background-position: bottom;
}

#header-font {
	font-family: 'Walter Turncoat';
	color: #665D5B;
	font-size: 7em;
	margin: 0px;
	padding: 70px 0px 0px;
	text-align: center;
	vertical-align: middle;
}

.section-head {
	width: 100%;
	height: 100px;
	margin: auto;
	padding: 40px 100px 0px;
}

.section-head h2 {
	padding: 0px;
	margin: 0;
	font-size: 4em;
	color: #59E1C6;
	font-family: 'Sacramento';
	font-weight: 900;
}

.section-body {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0px 100px;
}

.section-body p {
	padding: 0px;
	margin: 0;
	font-size: 1.2em;
	color: #665D5B;
	font-family: 'Open Sans Condensed';
}

.section-picture {
	width: 100%;
	height: 400px;
	margin: 0;
}
