.timeline {
	width: 100%;
	height: 100%;
}

/**.vert-line {
	border-left: medium solid #59E1C6;
	height: 100%;
	min-height: 100%;
	width: 2px;
	position: absolute;
	left: 60px;
	top: 450px;
} **/

.timeline-picture {
	width: 75%;
	height: 500px;
	margin: 20px auto;
	display: block;
	overflow: hidden;
	position: relative;
	padding: 0;
}

.timeline-picture img {
	width: 100%;
}

#img-vert-center {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	z-index: 90;
}

.timeline-picture:hover img {
	opacity: .7;
}

.timeline-picture {
	background-color: #000000;
}
 
 .timeline-picture:hover .img-description {
 	visibility: visible;
 	opacity: 1;
 	z-index: 91;
 }

.timeline-picture:hover .img-description2 {
 	visibility: visible;
 	opacity: 1;
 	z-index: 92;
 }
 
.timeline-picture:active .img-description, .timeline-picture:active .img-description2 {
	visibility: hidden;
	opacity: 0;
}

.timeline-picture:active img {
	opacity: .7;
}

.img-story {
	position: absolute;
 	top: 0px;
 	left: 15px;
  	right: 15px;
  	color: #FFFFFF;
  	font-family: 'Open Sans Condensed';
  	font-size: 1.3em;
  	padding: 2px 3px;
  	visibility: hidden;
	opacity: 0;
	z-index: 91;
}

.timeline-picture:active .img-story {
	visibility: visible;
	opacity: 1;
}
